{% extends 'base.html.twig' %}

{% block title %}Beer{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover">
            {% for beer in beers %}
                <tr>
                    <td>{{ beer.name }}</td>
                    <td>{{ beer.brewer.name }}</td>
                    <td>{{ beer.brewer.country }}</td>
                </tr>
            {% endfor %}
        </table>
        <ul>
        </ul>
    </div>
{% endblock %}
